<div class="col-xs-10 col-xs-offset-1">
<h2>About Quotr</h2>
<p>
  Quotr was built by <a href="https://github.com/rxso">RXSO</a> as part of the Firehose Project. If you'd like to add a quote of your own feel free to contribute. Otherwise cycle through the quotes to get some food for thought from some of the notable thinkers of our time. Quotr is a little app so please enjoy responsibly. If you contribute a quote, keep it clean and PG. Enjoy!
</p>
</div>
<br class="clear"  />
<br  />
<br  />
<br  />
<br  />
