@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

@import "bootstrap-sprockets";
@import "bootstrap";

.clear {
  clear:both;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #ff2247;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  color: #F4D03F;
  font-family: "Alfa Slab One", Helvetica, Sans-serif;
  padding-top: 26px;
}

.links {
  padding-top: 26px;
}

.links a {
  color: #58D68D;
  font-size: 25px;
  font-family: "Bungee", Helvetica, Sans-serif;
  border-bottom: 1px solid #dfdfdf;
}

.footer {
  font-family: "Bungee", Helvetica, sans-serif;
  padding-top: 20px;
}

.next-quote {
  color: #ff2247;
  font-family: "Bungee", Helvetica, sans-serif;
  font-size: 20px;
}

.footer-blurb {
  font-family: "Bungee", Helevetica, sans-serif;
  text-align: right;
  font-size: 10px;
}

.logo:hover {
  text-decoration:none;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h1 {
  font-family: "Libre Baskerville", Helvetica, serif;
  color: #34495E;
}

h2 {
  font-family: "Bungee", Helvetica, sans-serif;
  color: #ff2247;
}

h3 {
  font-family: "Pacifico", Helvetica, sans-serif;
  color: #ff2247;
}
